<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Compra_y_venta_automoviles.Properties.Settings.compra_venta_carrosConnectionString"
            connectionString="Data Source=DESKTOP-QKB1521\SQLEXPRESS;Initial Catalog=compra_venta_carros;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>